/*------*/
.content {
  margin: 0;
  padding-top: 80px;
  position: relative;
  width: 100%;
  height: minmax(100vh max-content);
}

.content .wrapper {
  margin: 3%;
  font-size: 1.3em;
}

.content .wrapper .section-title {
  text-align: center;
  font-size: 1.5rem;
}

.doc-item {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 15px;
}

.doc-item .bi {
  font-size: 1.7rem;
  color: red;
  margin-right: 20px;
}
.doc-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem;
}

@media screen and (min-width: 800px) {
    .content .wrapper {
        margin: 0 10%;
    }    
}

@keyframes showDoc {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }    
}

.content .wrapper .section-title,
.content hr,
.content .doc-item{
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showDoc .5s .5s ease-in-out 1 forwards; 
}

.content .doc-item{
    animation-delay: .8s;
}