@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  font-family: Ubuntu;
  color: white;
  /* width: calc(100vw - 20px); */
}

nav {
  background-color: #24a022cb;
}

.nav-link {
  color: #f7ebd4;
  font-weight: bold;
  font-size: large;
}

.footer {
  height: 30px;
  bottom: 0;
  padding: 2rem;
  background: purple;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
