.column{
    padding: 2rem;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.column .item{
    background-color: orange;
    border-radius: 10px;
    padding: 2rem;    
}

.column .item .item-title{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

.item-title {
    font-size: 1.4rem;
    color: var(--bg_color);
}

.item .item-content{
    font-size: 1rem;
    text-indent: 35px;
    color: var(--bg_color);
}

@media screen and (min-width:500px) {
    .column{
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
}

@media screen and (min-width:800px) {
    .column {
        grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    }
}
