:root {
  --bg_color_sec: #3a4154;
}

main {
  position: absolute;
  margin-top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

main h1 {
  font-size: 2.5rem;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 10px 15px 10px;
}

main h1 span {
  font-size: .8rem;
  display: block;
  padding-left: 4px;
  color: var(--menu_color);
}

main .tabs {
    position: relative;

    padding-left: 10px;
    padding-right: 10px;

    

    font-size: 1rem;
    
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    justify-items: flex-start;
    align-items: center;
    
    overflow-x: auto;
}
.tabs::-webkit-scrollbar{
    width: 0;
}

main .tabs .item{
    width: fit-content;
    height: 90%;
    padding: 10px;
    flex-shrink: 0;
    display: flex;
    align-content: center;
}

main .tabs .active{
    background-color: var(--bg_color_sec);
}

main .tabs .item:hover{
    background-color: var(--bg_color_sec);
}

main .cards {
    position: relative;
    margin: 0 auto 0 auto;
    /* top: -1.3rem; */

    padding-left: 10px;
    padding-right: 10px;

    /* width: 95vw;
    height: 100%; */

    background-color: var(--bg_color_sec);
}

main .cards .item{
    padding: 1rem;
    font-size: 1.2rem;
    display: none;
}

main .cards .active{
    display: block; 
}

main .cards {
    font-weight: 300;
}

.h{
    margin-top: 10px;
}

@media screen and (min-width: 800px) {
    main {
        padding: 3rem;
    }
    main .cards .active{
        padding: 3rem;
    }

    main h1 span{
        margin-bottom: 2rem;;
    }
}
